*[data-v-7bde27] {
  margin: 0px;
  box-sizing: border-box;
}select[data-v-94da3e] {
  margin-right: 10px;
}
*[data-v-94da3e] {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8pt;
  margin: 0px;
  box-sizing: border-box;
}*[data-v-67cf97] {
  box-sizing: border-box;
  margin: 0px;
}