//colors
$color_celeste: #ccc;
$color_fair_pink: #fee;
$color_white: #fff;
$color_black: #000;
$color_steel_blue: #4682b4;
$color_gallery: #eee;
$color_storm_dust: #666;
$color_grey: #808080;
$color_boston_blue: #3182bd;
$color_blue: #00f;

//fonts
$font_sans_serif: sans-serif;

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//original selectors
//.dc-chart path.dc-symbol, g.dc-legend-item.fadeout
%extend_1 {
    fill-opacity: 0.5;
    stroke-opacity: 0.5;
}

#tooltip {
    position: absolute;
    display: none;
    background: cornsilk;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    z-index: 4000;
}

.chart_container .dc-chart {
    height: 440px;
}

div.dc-chart {
    padding-top: 55px;
    float: left;
}

div.horizontal-bar-chart {
    padding-top: 30px;
    overflow-y: scroll;
    z-index: 10;
    position: relative;
}

.row:nth-child(1) {

    .dc-chart {
        height: 410px;
        margin: 37px 0 0 0;
    }
}

.outer_holder {
    position: relative;
    padding-top: 55px;
    float: left;
    display: inline-block;

    a.horiz_reset {
        position: absolute;
        left: 10px;
        top: 55px;
        z-index: 100;
        background-color: white;
        padding: 0 5px 0 0;
    }

    .text_chart_name {
        position: absolute;
        left: 10px;
        top: 33px;
    }


    .horizontal-bar-chart {

        padding-top: 0;

        g.axis {
            display: none;
        }
    }

    .the_bar {
        position: absolute;

        .row {
            display: none;
        }

        g.axis {
            transform: translate(0,345px);
        }
    }
}

.turn_off_add_chart_feature {
    div.popup_menu,
    div.plus_icon {
        display: none;
    }
}

.scatter-chart.dc-chart {
    .x-label {
        bottom: 18px;
    }
}

.dc-chart {

    position: relative;

    &.horizontal-bar-chart .popup_menu {
        top: -3px;
    }

    .popup_menu {
        position: absolute;
        top: 20px;
        right: 40px;
        cursor: pointer;
        width: 12px;

        .bar {
            width: 22px;
            height: 3px;
            background-color: #444444;
            margin: 4px 0;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
        }
    }

    .top_left {
        position: absolute;
        top: 30px;
        left: 0;

        strong {
            font-size: 15px;
        }
    }

    .x-label {
        position: absolute;
        left: 0;
        bottom: 26px;
        width: 400px;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
    }

    .x-label:first-letter {
        text-transform: capitalize;
    }

    .y-label {
        position: absolute;
        left: -190px;
        bottom: 205px;
        text-align: center;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        font-size: 14px;
        font-weight: bold;
    }

    .y-label:first-letter {
        text-transform: capitalize;
    }

    rect {
        &.bar {
            stroke: none;
            cursor: pointer;
            &:hover {
                fill-opacity: .5;
            }
        }
        &.deselected {
            stroke: none;
            fill: $color_celeste;
        }
    }
    .pie-slice {
        fill: $color_white;
        font-size: 12px;
        cursor: pointer;
        &.external {
            fill: $color_black;
        }
        :hover, &.highlight {
            fill-opacity: .8;
        }
    }
    .pie-path {
        fill: none;
        stroke-width: 2px;
        stroke: $color_black;
        opacity: 0.4;
    }
    .selected {
        path, circle {
            stroke-width: 3;
            stroke: $color_celeste;
            fill-opacity: 1;
        }
    }
    .deselected {
        path, circle {
            stroke: none;
            fill-opacity: .5;
            fill: $color_celeste;
        }
    }
    .axis {
        path, line {
            fill: none;
            stroke: $color_black;
            shape-rendering: crispEdges;
        }
        text {
            font: 10px $font_sans_serif;
        }
    }
    .grid-line, .axis .grid-line, .grid-line line, .axis .grid-line line {
        fill: none;
        stroke: $color_celeste;
        opacity: .5;
        shape-rendering: crispEdges;
    }
    .brush {
        rect {
            &.selection {
                fill: $color_steel_blue;
                fill-opacity: .125;
            }
        }
        .custom-brush-handle {
            fill: $color_gallery;
            stroke: $color_storm_dust;
            cursor: ew-resize;
        }
    }
    path {
        &.line {
            fill: none;
            stroke-width: 1.5px;
        }
        &.area {
            fill-opacity: .3;
            stroke: none;
        }
        &.highlight {
            stroke-width: 3;
            fill-opacity: 1;
            stroke-opacity: 1;
        }
        &.dc-symbol {
            @extend %extend_1;
        }
    }
    g {
        &.state {
            cursor: pointer;
            :hover {
                fill-opacity: .8;
            }
            path {
                stroke: $color_white;
            }
        }
        &.deselected {
            path {
                fill: $color_grey;
            }
            text {
                display: none;
            }
        }
        &.row {
            rect {
                fill-opacity: 0.8;
                cursor: pointer;
                &:hover {
                    fill-opacity: 0.6;
                }
            }
            text {
                fill: $color_white;
                font-size: 12px;
                cursor: pointer;
            }
        }
        &.dc-tooltip path {
            fill: none;
            stroke: $color_grey;
            stroke-opacity: .8;
        }
        &.county path {
            stroke: $color_white;
            fill: none;
        }
        &.debug rect {
            fill: $color_blue;
            fill-opacity: .2;
        }
        &.axis text {
            @include no-select;
            pointer-events: none;
        }
    }
    .node {
        font-size: 0.7em;
        cursor: pointer;
        :hover {
            fill-opacity: .8;
        }
    }
    .bubble {
        stroke: none;
        fill-opacity: 0.6;
    }
    .highlight {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    .fadeout {
        fill-opacity: 0.2;
        stroke-opacity: 0.2;
    }
    .box {
        text {
            font: 10px $font_sans_serif;
            @include no-select;
            pointer-events: none;
        }
        line {
            fill: $color_white;
        }
        rect, line, circle {
            stroke: $color_black;
            stroke-width: 1.5px;
        }
        .center {
            stroke-dasharray: 3, 3;
        }
        .data {
            stroke: none;
            stroke-width: 0px;
        }
        .outlier {
            fill: none;
            stroke: $color_celeste;
        }
        .outlierBold {
            fill: red;
            stroke: none;
        }
        &.deselected {
            opacity: 0.5;
            .box {
                fill: $color_celeste;
            }
        }
    }
    .symbol {
        stroke: none;
    }
    .heatmap {
        .box-group.deselected rect {
            stroke: none;
            fill-opacity: 0.5;
            fill: $color_celeste;
        }
        g.axis text {
            pointer-events: all;
            cursor: pointer;
        }
    }
    .empty-chart .pie-slice {
        cursor: default;
        path {
            fill: $color_fair_pink;
            cursor: default;
        }
    }
    circle.dot {
        stroke: none;
    }
}

div div.dc-data-count {
    float: left;
    padding: 0 0 0 0;
    margin-top: 55px;
    margin-right: 15px;

    .filter-count, .total-count {
        color: $color_boston_blue;
        font-weight: bold;
    }
}

.dc-legend {
    font-size: 11px;
    .dc-legend-item {
        cursor: pointer;
    }
    g.dc-legend-item.fadeout {
        @extend %extend_1;
    }
}

.dc-hard .number-display {
    float: none;
}


div.dc-html-legend {
  overflow-y: auto;
  overflow-x: hidden;
  height: inherit;
  float: right;
  padding-right: 2px;
  .dc-legend-item-horizontal {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
      &.selected{
          background-color: rgb(49, 130, 189);
          color: white;
      }
  }
  .dc-legend-item-vertical {
    display: block;
    margin-top: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
      &.selected{
          background-color: rgb(49, 130, 189);
          color: white;
      }
  }
  .dc-legend-item-color {
    display: table-cell;
    width: 12px;
    height: 12px;
  }
  .dc-legend-item-label {
    line-height: 12px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 0.75em;
  }
}

.dc-html-legend-container{
    height: inherit;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
    margin: 0 7px 0 0;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.myButton:active {
	position:relative;
	top:1px;
}

#quarter-chart .pie-slice {
    fill: #000000;
}

#day-of-week-chart {
    position: absolute;
    left: -250px;
}

body .container {
  width: 1280px;
}

body .dc-chart g.row text {
  fill: #000000;
}

.left_side {
  margin: 0 26px 0 0;
    float: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.inner_container {
    display: inline-block;
    width: 1360px;
    padding-top: 60px;

    .instructions {
        color: #888888;
    }
}

#runtime-chart strong {
    display: block;
}

.contain_lines {
    float: none;
    clear: both;
    width: 470px;
    display: inline-block;
    height: 430px;
}

.error_statement {
    color: red;
    border: 1px solid red;
    padding: 15px;
    font-size: 16px;
    line-height: 1.6;
    background-color: #ffeeee;
    margin: 60px 0 0 0;
}

#file_upload {

    background-color: #e6e6e6;
    border-bottom: 1px solid #d6d6d6;
    height: 49px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 30px;

    div.update_button {
        position: relative;
        top: 8px;
        left: 432px;
        right: auto;
        padding: 7px;

        div {
            background-image: url(../img/refresh.png);
            background-size: 100% 100%;
            width: 17px;
            height: 17px
        }
    }

    .directory {
        padding: 7px;
        width: 400px;
        position: absolute;
        left: 8px;
        top: 7px;
        color: #555555;
    }

}

.container {

    div.launch_button {
        padding: 7px;
        width: 20px;

        div {
            background-image: url(../img/refresh.png);
            background-size: 100% 100%;
            width: 17px;
            height: 17px
        }
    }

    .reset_all {
        color: #0c7cd5;
        text-decoration: underline;
        cursor: pointer;
    }

    .contain_show_more {

        text-align: center;
        padding: 0 0 15px 0;
    }

    /* make room for rotated labels. */
    svg[height="370"] {
        height: 450px;
    }

    /* Need to be able to see long labels without them overlapping each other. */
    .x.axis {

        text {
            text-anchor: end !important;
            transform: rotate(-45deg) translate(-7px, -5px) scaleX(1.23) scaleY(1.23);
        }
    }

    .y.axis {

        text {
            transform: scaleX(1.2) scaleY(1.2);
        }
    }


    .help_body, .user_pref_body {
        background-color: #f2f2f2;
        border: 1px solid #cccccc;
        padding: 22px 0 22px 22px;
        font-size: 13px;
        margin: 4px 0 4px -20px;
    }

    .user_pref_body .prow {

        display: inline-block;
        width: 270px;
        margin: 6px 0 6px 0;

        .title {
            position: relative;
            top: 4px;
            left: 4px;
        }

        input {
            zoom: 1.5;
        }
    }

    a {
        cursor: pointer;
    }

    div.multi_jupyter {
        right: auto;
        left: 1255px;
    }
    .icon {
        padding: 8px 7px 8px 8px;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 1000;

        .inner {
            width: 20px;
            height: 20px;
            -webkit-filter: invert(100%); /* Safari/Chrome */
            filter: invert(100%);
        }
    }

    .help_icon {

        div {
            background-image: url(../img/info.png);
            background-size: 100% 100%;
        }
    }

    .plus_icon {
        right: 95px;

        div {
            background-image: url(../img/plus.png);
            background-size: 100% 100%;
        }
    }

    .user_pref_icon {
        right: 50px;

        div {
            background-image: url(../img/check.png);
            background-size: 100% 100%;
        }
    }

}

.composite_chart_type {

    .multi_row_selector {
        padding: 20px 0 0 0;

        table {
          margin: 8px 0 0 0;
          padding: 8px 0 0 0;
        }

        tr:first-child td {
            border-top: 1px solid #bbbbbb;
        }
    }

    &.edit_mode {
        .myButton.submit {
            display: inline-block;
        }
        .myButton.delete {
            display: inline-block;
        }
    }

    &.add_mode {
        .myButton.submit {
            display: inline-block;
        }
        .myButton.delete {
            display: none;
        }
    }

    table {
        width: 100%;
    }

    select {
        height: 36px;
    }

    .pick_chart_type td {
        padding: 0 0 17px 0;
        border-bottom: 1px solid #bbbbbb;
    }

    tr:nth-child(2) td {
        padding: 26px 0 0 0;
    }

    .chart_name {
        padding: 5px;
        margin: 10px 0 0 0;
    }

    .center {
        margin: 22px 0 7px 0;
        text-align: center;
    }
}

.multi_jupyter.icon {

    position: static;
    padding: 12px 11px 12px 11px;

    div.inner {
        height: 35px;
        width: 35px;
        /*background-image: url(../img/multi_jupyter.png);*/
        background-image: url(../img/planet.gif);
        background-size: 100% 100%;
    }

    .tiny_letter {
        font-size: 13px;
        position: absolute;
        right: 5px;
        top: -1px;
    }
}

.none_here {
    display: none;
}
.attributions {
    font-size: 11px;
    color: #999999;
}

.dc-data-table {

    .walltime {

        position: static;

        div {
            background-image: url(../img/walltime.png);
            background-size: 100% 100%;
        }
    }

    .memory {

        position: static;

        div {
            background-image: url(../img/memory.png);
            background-size: 100% 100%;
        }
    }

    .jupyter.icon {

        position: static;
        padding: 10px 7px 10px 8px;

        div {
            height: 16px;
            /* jupyter.png, planet.png, notes.png */
            background-image: url(../img/planet.gif);
            background-size: 100% 100%;
        }
    }

    th {
        position: relative;
    }

    .up_arrow {
        position: absolute;
        top: 10px;
        left: -9px;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #555555;
        cursor: pointer;
    }

    .down_arrow {
        position: absolute;
        top: 20px;
        left: -9px;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #555555;
        cursor: pointer;
    }

    .dc-table-head {
        position: relative;
        left: 14px;
    }

    .dc-table-head:last-child {
        display: none;
    }
}

.bottom_table {
    position: relative;

    .compare_button {
        position: absolute;
        top: 30px;
        right: -5px;
        z-index: 10;
    }

    .launcher {
        .launchdate_days_ago {
            position: absolute;

            left: 0;
            top: 20px;
            padding: 8px;
            font-size: 14px;
            z-index: 1000;
        }

        .launch_button {
            position: absolute;
            left: 230px;
            top: 21px;
        }
    }

    .compare_arguments {
        position: absolute;
        top: 30px;
        right: 120px;
        z-index: 10;
        width: 904px;

        select {
            height: 35px;
            margin: 0 5px  0 0;
        }

        #bookmarkme {
            margin: 0 10px 0 0;
        }

        .xaxis_label {
            position: absolute;
            left: 5px;
            top: -20px;
        }

        .groupby_label {
            position: absolute;
            left: 227px;
            top: -20px;
        }

        .yaxis_label {
            position: absolute;
            left: 452px;
            top: -20px;
        }

        .aggregate_label {
            position: absolute;
            left: 679px;
            top: -20px;
        }
    }

    .hidden {
        display: none;
    }

    .bottom_tab_outer {

        position: relative;
        border-bottom: 1px solid #bbb;
        margin: 101px 0 5px 0;

        .multi_jupyter {
            position: absolute;
            bottom: 4px;
            top: auto;
        }

        .table-tab, .compare-tab {
            padding: 4px;
            border: 1px solid #999;
            width: 80px;
            display: inline-block;
            margin: 0 0 0 15px;
            text-align: center;
            font-size: 13px;
            color: #666;
            font-family: tahoma;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            cursor: pointer;
            position: relative;
            top: 4px;
        }

        .active {
            border-bottom: 4px solid white;
        }
    }
}

#compare-window select {
    height: 40px;
    padding: 0;
    position: relative;
    top:4px;
    left: 2px;
}

#compare_bottom_outer {
    min-height: 500px;
    background-color: #f2f2f2;
    display: none;
}

body .bg-color-255-255-255-0 {
    display: none;
}

.curtain {
	width: 100%;
	height: 100%;
	background-color: #cccccc;
	opacity: 0.65;
	position:fixed;
	left: 0;
	top: 0;
	z-index: 1500;
}

.modal {
	margin: auto auto;
	background-color: white;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	border: 1px solid #000000;
	-webkit-box-shadow: 3px 3px 3px #333333;
	z-index: 1501;
}

.modal .body {
	padding: 30px;
	min-width: 280px;
	min-height: 180px;
    font-size: 15px;
}

.modal .close {
	position: absolute;
	top: 7px;
	right: 7px;
    opacity: 1;
}

.modal .close.black_button .inner_button {
	padding: 4px 4px 4px 7px;
	width: 16px;
    color: white;
    font-size: 22px;
}

.outer_modal {
	width: 100%;
	height: 100%;
	text-align: left;
}

.modal .button_bottom {
	position: absolute;
	bottom: 15px;
	text-align: center;
	width: 345px;
	font-family: tahoma;
}

.header {
	border-bottom: 1px solid #333;
	background: #444 url(../img/ui-bg_highlight-soft_44_444444_1x100.png) 50% 50% repeat-x;
	color: #fff;
	font-weight: bold;
	padding: 11px;
	font-family: Tahoma;
	font-size: 15px;
	letter-spacing: 1pt;
	-webkit-text-shadow: -1px -1px 0 #000000;
	-moz-text-shadow: -1px -1px 0 #000000;
	text-shadow: -1px -1px 0 #000000;
	position: relative;
}
.header    .plus_sign {
	width: 19px;
	height: 19px;
	position: absolute;
	top: 7px;
	right: 7px;
	-webkit-filter: grayscale(1) invert(1);
	filter: grayscale(1) invert(1);
	background: url(../img/edit_pencil.png);
	background-size: 100% 100%;
	cursor: pointer;
}

.header .plus_sign {
	background: url(../img/plus.png);
	background-size: 100% 100%;
	right: 8px;
}

.spinner_loader {
    display: none;
    position: fixed;
    top: 45%;
    left: 50%;
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #bbbbbb;
  background: -moz-linear-gradient(left, #bbbbbb 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #bbbbbb 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #bbbbbb 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #bbbbbb 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #bbbbbb 10%, rgba(255, 255, 255, 0) 42%);
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner_loader:before {
  width: 50%;
  height: 50%;
  background: transparent;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
/* inner circle color */
.spinner_loader:after {
  background: white;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
