//colors
$color_celeste: #ccc;
$color_fair_pink: #fee;
$color_white: #fff;
$color_black: #000;
$color_steel_blue: #4682b4;
$color_gallery: #eee;
$color_storm_dust: #666;
$color_grey: #808080;
$color_boston_blue: #3182bd;
$color_blue: #00f;

//fonts
$font_sans_serif: sans-serif;

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//original selectors
//.dc-chart path.dc-symbol, g.dc-legend-item.fadeout
%extend_1 {
    fill-opacity: 0.5;
    stroke-opacity: 0.5;
}

div.dc-chart {
    float: left;
    padding-top: 55px;
}

.row:nth-child(1) {

    .dc-chart {
        height: 410px;
        margin: 37px 0 0 0;
    }
}

.dc-chart {

    position: relative;

    .top_left {
        position: absolute;
        top: 30px;
        left: 0;
    }

    .x-label {
        position: absolute;
        left: 0;
        bottom: -15px;
        width: 400px;
        text-align: center;
    }

    .y-label {
        position: absolute;
        left: -190px;
        bottom: 185px;
        text-align: center;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    rect {
        &.bar {
            stroke: none;
            cursor: pointer;
            &:hover {
                fill-opacity: .5;
            }
        }
        &.deselected {
            stroke: none;
            fill: $color_celeste;
        }
    }
    .pie-slice {
        fill: $color_white;
        font-size: 12px;
        cursor: pointer;
        &.external {
            fill: $color_black;
        }
        :hover, &.highlight {
            fill-opacity: .8;
        }
    }
    .pie-path {
        fill: none;
        stroke-width: 2px;
        stroke: $color_black;
        opacity: 0.4;
    }
    .selected {
        path, circle {
            stroke-width: 3;
            stroke: $color_celeste;
            fill-opacity: 1;
        }
    }
    .deselected {
        path, circle {
            stroke: none;
            fill-opacity: .5;
            fill: $color_celeste;
        }
    }
    .axis {
        path, line {
            fill: none;
            stroke: $color_black;
            shape-rendering: crispEdges;
        }
        text {
            font: 10px $font_sans_serif;
        }
    }
    .grid-line, .axis .grid-line, .grid-line line, .axis .grid-line line {
        fill: none;
        stroke: $color_celeste;
        opacity: .5;
        shape-rendering: crispEdges;
    }
    .brush {
        rect {
            &.selection {
                fill: $color_steel_blue;
                fill-opacity: .125;
            }
        }
        .custom-brush-handle {
            fill: $color_gallery;
            stroke: $color_storm_dust;
            cursor: ew-resize;
        }
    }
    path {
        &.line {
            fill: none;
            stroke-width: 1.5px;
        }
        &.area {
            fill-opacity: .3;
            stroke: none;
        }
        &.highlight {
            stroke-width: 3;
            fill-opacity: 1;
            stroke-opacity: 1;
        }
        &.dc-symbol {
            @extend %extend_1;
        }
    }
    g {
        &.state {
            cursor: pointer;
            :hover {
                fill-opacity: .8;
            }
            path {
                stroke: $color_white;
            }
        }
        &.deselected {
            path {
                fill: $color_grey;
            }
            text {
                display: none;
            }
        }
        &.row {
            rect {
                fill-opacity: 0.8;
                cursor: pointer;
                &:hover {
                    fill-opacity: 0.6;
                }
            }
            text {
                fill: $color_white;
                font-size: 12px;
                cursor: pointer;
            }
        }
        &.dc-tooltip path {
            fill: none;
            stroke: $color_grey;
            stroke-opacity: .8;
        }
        &.county path {
            stroke: $color_white;
            fill: none;
        }
        &.debug rect {
            fill: $color_blue;
            fill-opacity: .2;
        }
        &.axis text {
            @include no-select;
            pointer-events: none;
        }
    }
    .node {
        font-size: 0.7em;
        cursor: pointer;
        :hover {
            fill-opacity: .8;
        }
    }
    .bubble {
        stroke: none;
        fill-opacity: 0.6;
    }
    .highlight {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    .fadeout {
        fill-opacity: 0.2;
        stroke-opacity: 0.2;
    }
    .box {
        text {
            font: 10px $font_sans_serif;
            @include no-select;
            pointer-events: none;
        }
        line {
            fill: $color_white;
        }
        rect, line, circle {
            stroke: $color_black;
            stroke-width: 1.5px;
        }
        .center {
            stroke-dasharray: 3, 3;
        }
        .data {
            stroke: none;
            stroke-width: 0px;
        }
        .outlier {
            fill: none;
            stroke: $color_celeste;
        }
        .outlierBold {
            fill: red;
            stroke: none;
        }
        &.deselected {
            opacity: 0.5;
            .box {
                fill: $color_celeste;
            }
        }
    }
    .symbol {
        stroke: none;
    }
    .heatmap {
        .box-group.deselected rect {
            stroke: none;
            fill-opacity: 0.5;
            fill: $color_celeste;
        }
        g.axis text {
            pointer-events: all;
            cursor: pointer;
        }
    }
    .empty-chart .pie-slice {
        cursor: default;
        path {
            fill: $color_fair_pink;
            cursor: default;
        }
    }
    circle.dot {
        stroke: none;
    }
}

.dc-data-count {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    .filter-count, .total-count {
        color: $color_boston_blue;
        font-weight: bold;
    }
}

.dc-legend {
    font-size: 11px;
    .dc-legend-item {
        cursor: pointer;
    }
    g.dc-legend-item.fadeout {
        @extend %extend_1;
    }
}

.dc-hard .number-display {
    float: none;
}


div.dc-html-legend {
  overflow-y: auto;
  overflow-x: hidden;
  height: inherit;
  float: right;
  padding-right: 2px;
  .dc-legend-item-horizontal {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
      &.selected{
          background-color: rgb(49, 130, 189);
          color: white;
      }
  }
  .dc-legend-item-vertical {
    display: block;
    margin-top: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
      &.selected{
          background-color: rgb(49, 130, 189);
          color: white;
      }
  }
  .dc-legend-item-color {
    display: table-cell;
    width: 12px;
    height: 12px;
  }
  .dc-legend-item-label {
    line-height: 12px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 0.75em;
  }
}

.dc-html-legend-container{
    height: inherit;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
    margin: 0 7px 0 0;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.myButton:active {
	position:relative;
	top:1px;
}

#quarter-chart .pie-slice {
    fill: #000000;
}

body .container {
  width: 1280px;
}

body .dc-chart g.row text {
  fill: #000000;
}

.left_side {
  margin: 0 26px 0 0;
    float: none;
    display: inline-block;
    vertical-align: top;
}

.inner_container {
    display: inline-block;
    width: 980px;
}

#runtime-chart strong {
    display: block;
}

.contain_lines {
    float: none;
    clear: both;
    width: 470px;
    display: inline-block;
    height: 430px;
}

.error_statement {
    color: red;
    border: 1px solid red;
    padding: 15px;
    background-color: #ffdddd;
}

.container {

    .help_body {
        background-color: #f2f2f2;
        border: 1px solid #cccccc;
        padding: 10px;
        font-size: 13px;
        margin: 4px 0 4px -20px;
    }

    a {
        cursor: pointer;
    }

    .help_icon {
        background-color: #f2f2f2;
        border: 1px solid #cccccc;
        padding: 3px;
        display: inline-block;
        width: 20px;
        cursor: pointer;
        text-align: center;
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 1000;
    }
}

.dc-data-table {

    th {
        position: relative;
    }

    .up_arrow {
        position: absolute;
        top: 10px;
        left: -9px;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #555555;
        cursor: pointer;
    }

    .down_arrow {
        position: absolute;
        top: 20px;
        left: -9px;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #555555;
        cursor: pointer;
    }

    .dc-table-head {
        position: relative;
        left: 14px;
    }

    .dc-table-head:last-child {
        display: none;
    }
}

.bottom_table {
    position: relative;

    .compare_button {
        position: absolute;
        top: 30px;
        right: -5px;
        z-index: 10;
    }

    .compare_arguments {
        position: absolute;
        top: 30px;
        right: 120px;
        z-index: 10;

        select {
            height: 35px;
            margin: 0 5px  0 0;
        }

        #bookmarkme {
            margin: 0 10px 0 0;
        }
    }

    .hidden {
        display: none;
    }
}