.dc-legend g.dc-legend-item.fadeout, .dc-chart path.dc-symbol {
  fill-opacity: 0.5;
  stroke-opacity: 0.5; }

#tooltip {
  position: absolute;
  display: none;
  background: cornsilk;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  z-index: 4000; }

.chart_container .dc-chart {
  height: 440px; }

div.dc-chart {
  padding-top: 55px;
  float: left; }

div.horizontal-bar-chart {
  padding-top: 30px;
  overflow-y: scroll;
  z-index: 10;
  position: relative; }

.row:nth-child(1) .dc-chart {
  height: 410px;
  margin: 37px 0 0 0; }

.outer_holder {
  position: relative;
  padding-top: 55px;
  float: left;
  display: inline-block; }
  .outer_holder a.horiz_reset {
    position: absolute;
    left: 10px;
    top: 55px;
    z-index: 100;
    background-color: white;
    padding: 0 5px 0 0; }
  .outer_holder .text_chart_name {
    position: absolute;
    left: 10px;
    top: 33px; }
  .outer_holder .horizontal-bar-chart {
    padding-top: 0; }
    .outer_holder .horizontal-bar-chart g.axis {
      display: none; }
  .outer_holder .the_bar {
    position: absolute; }
    .outer_holder .the_bar .row {
      display: none; }
    .outer_holder .the_bar g.axis {
      transform: translate(0, 345px); }

.turn_off_add_chart_feature div.popup_menu,
.turn_off_add_chart_feature div.plus_icon {
  display: none; }

.scatter-chart.dc-chart .x-label {
  bottom: 18px; }

.dc-legend {
  font-size: 11px; }
  .dc-legend .dc-legend-item {
    cursor: pointer; }

.dc-hard .number-display {
  float: none; }

div.dc-html-legend {
  overflow-y: auto;
  overflow-x: hidden;
  height: inherit;
  float: right;
  padding-right: 2px; }
  div.dc-html-legend .dc-legend-item-horizontal {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer; }
    div.dc-html-legend .dc-legend-item-horizontal.selected {
      background-color: #3182bd;
      color: white; }
  div.dc-html-legend .dc-legend-item-vertical {
    display: block;
    margin-top: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer; }
    div.dc-html-legend .dc-legend-item-vertical.selected {
      background-color: #3182bd;
      color: white; }
  div.dc-html-legend .dc-legend-item-color {
    display: table-cell;
    width: 12px;
    height: 12px; }
  div.dc-html-legend .dc-legend-item-label {
    line-height: 12px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 0.75em; }

.dc-html-legend-container {
  height: inherit; }

.myButton {
  -moz-box-shadow: inset 0px 1px 0px 0px #54a3f7;
  -webkit-box-shadow: inset 0px 1px 0px 0px #54a3f7;
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
  background: -moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background: -webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background: -o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background: -ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
  background-color: #007dc1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
  margin: 0 7px 0 0; }

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
  background: -moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background: -webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background: -o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background: -ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
  background-color: #0061a7; }

.myButton:active {
  position: relative;
  top: 1px; }

#quarter-chart .pie-slice {
  fill: #000000; }

#day-of-week-chart {
  position: absolute;
  left: -250px; }

body .container {
  width: 1280px; }

body .dc-chart g.row text {
  fill: #000000; }

.left_side {
  margin: 0 26px 0 0;
  float: none;
  display: inline-block;
  vertical-align: top;
  position: relative; }

.inner_container {
  display: inline-block;
  width: 1380px;
  padding-top: 60px; }
  .inner_container .instructions {
    color: #888888; }

#runtime-chart strong {
  display: block; }

.contain_lines {
  float: none;
  clear: both;
  width: 470px;
  display: inline-block;
  height: 430px; }

.error_statement {
  color: red;
  border: 1px solid red;
  padding: 15px;
  font-size: 16px;
  line-height: 1.6;
  background-color: #ffeeee;
  margin: 60px 0 0 0; }

#file_upload {
  background-color: #e6e6e6;
  border-bottom: 1px solid #d6d6d6;
  height: 49px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 30px; }
  #file_upload div.update_button {
    position: relative;
    top: 8px;
    left: 432px;
    right: auto;
    padding: 7px; }
    #file_upload div.update_button div {
      background-image: url(../img/refresh.png);
      background-size: 100% 100%;
      width: 17px;
      height: 17px; }
  #file_upload .directory {
    padding: 7px;
    width: 400px;
    position: absolute;
    left: 8px;
    top: 7px;
    color: #555555; }

table.only_multi_row_selector tr:nth-child(2) td {
  padding: 0 0 0 0; }
table.only_multi_row_selector tr td:first-child {
  width: 100px; }
  table.only_multi_row_selector tr td:first-child select {
    width: 80px; }
table.only_multi_row_selector tr td:nth-child(2) select {
  width: 360px; }

.composite_chart_type .multi_row_selector {
  padding: 20px 0 0 0; }
  .composite_chart_type .multi_row_selector .input_const {
    display: none; }
  .composite_chart_type .multi_row_selector table {
    margin: 1px 0 0 0; }
  .composite_chart_type .multi_row_selector tr:first-child td {
    border-top: 1px solid #bbbbbb;
    padding: 12px 3px 3px 3px; }
  .composite_chart_type .multi_row_selector .delete_row {
    position: relative;
    top: -4px;
    font-size: 18px;
    width: 22px;
    padding: 6px;
    text-align: center; }
.composite_chart_type.edit_mode .myButton.submit {
  display: inline-block; }
.composite_chart_type.edit_mode .myButton.delete {
  display: inline-block; }
.composite_chart_type.add_mode .myButton.submit {
  display: inline-block; }
.composite_chart_type.add_mode .myButton.delete {
  display: none; }
.composite_chart_type table {
  width: 100%; }
.composite_chart_type select {
  height: 36px; }
.composite_chart_type .pick_chart_type td {
  padding: 0 0 17px 0;
  border-bottom: 1px solid #bbbbbb; }
.composite_chart_type tr:nth-child(2) td {
  padding: 26px 0 0 0; }
.composite_chart_type .chart_name {
  padding: 5px;
  margin: 10px 0 0 0; }
.composite_chart_type .center {
  margin: 22px 0 7px 0;
  text-align: center; }

.multi_jupyter.icon {
  position: static;
  padding: 12px 11px 12px 11px; }
  .multi_jupyter.icon div.inner {
    height: 35px;
    width: 35px;
    /*background-image: url(../img/multi_jupyter.png);*/
    background-image: url(../img/planet.gif);
    background-size: 100% 100%; }
  .multi_jupyter.icon .tiny_letter {
    font-size: 13px;
    position: absolute;
    right: 5px;
    top: -1px; }

.none_here {
  display: none; }

.attributions {
  font-size: 11px;
  color: #999999; }

table.dc-data-table .durations {
  position: static; }
  table.dc-data-table .durations div {
    background-image: url(../img/walltime.png);
    background-size: 100% 100%; }
table.dc-data-table .timeseries {
  position: static; }
  table.dc-data-table .timeseries div {
    background-image: url(../img/graph.png);
    background-size: 100% 100%; }
table.dc-data-table .jupyter.icon {
  position: static;
  padding: 10px 7px 10px 8px; }
  table.dc-data-table .jupyter.icon div {
    height: 16px;
    /* jupyter.png, planet.png, notes.png */
    background-image: url(../img/planet.gif);
    background-size: 100% 100%; }
table.dc-data-table th {
  position: relative; }
table.dc-data-table .up_arrow {
  position: absolute;
  top: 10px;
  left: -9px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #555555;
  cursor: pointer; }
table.dc-data-table .down_arrow {
  position: absolute;
  top: 20px;
  left: -9px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #555555;
  cursor: pointer; }
table.dc-data-table .dc-table-head {
  position: relative;
  left: 14px; }
table.dc-data-table .dc-table-head:last-child {
  display: none; }

.bottom_table {
  position: relative; }
  .bottom_table .compare_button {
    position: absolute;
    top: 30px;
    right: -5px;
    z-index: 10; }
  .bottom_table .launcher .launchdate_days_ago {
    position: absolute;
    left: 0;
    top: 20px;
    padding: 8px;
    font-size: 14px;
    z-index: 1000; }
  .bottom_table .launcher .launch_button {
    position: absolute;
    left: 230px;
    top: 21px; }
  .bottom_table .compare_arguments {
    position: absolute;
    top: 30px;
    right: 120px;
    z-index: 10;
    width: 904px; }
    .bottom_table .compare_arguments select {
      height: 35px;
      margin: 0 5px  0 0; }
    .bottom_table .compare_arguments #bookmarkme {
      margin: 0 10px 0 0; }
    .bottom_table .compare_arguments .xaxis_label {
      position: absolute;
      left: 5px;
      top: -20px; }
    .bottom_table .compare_arguments .groupby_label {
      position: absolute;
      left: 227px;
      top: -20px; }
    .bottom_table .compare_arguments .yaxis_label {
      position: absolute;
      left: 452px;
      top: -20px; }
    .bottom_table .compare_arguments .aggregate_label {
      position: absolute;
      left: 679px;
      top: -20px; }
  .bottom_table .hidden {
    display: none; }
  .bottom_table .bottom_tab_outer {
    position: relative;
    border-bottom: 1px solid #bbb;
    margin: 101px 0 5px 0; }
    .bottom_table .bottom_tab_outer .multi_jupyter {
      position: absolute;
      bottom: 4px;
      top: auto; }
    .bottom_table .bottom_tab_outer .table-tab, .bottom_table .bottom_tab_outer .compare-tab {
      padding: 4px;
      border: 1px solid #999;
      width: 80px;
      display: inline-block;
      margin: 0 0 0 15px;
      text-align: center;
      font-size: 13px;
      color: #666;
      font-family: tahoma;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      cursor: pointer;
      position: relative;
      top: 4px; }
    .bottom_table .bottom_tab_outer .active {
      border-bottom: 4px solid white; }

#compare-window select {
  height: 40px;
  padding: 0;
  position: relative;
  top: 4px;
  left: 2px; }

#compare_bottom_outer {
  min-height: 500px;
  background-color: #f2f2f2;
  display: none; }

body .bg-color-255-255-255-0 {
  display: none; }

.dc-chart {
  position: relative; }
  .dc-chart.horizontal-bar-chart .popup_menu {
    top: -3px; }
  .dc-chart .popup_menu {
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
    width: 12px; }
    .dc-chart .popup_menu .bar {
      width: 22px;
      height: 3px;
      background-color: #444444;
      margin: 4px 0;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px; }
  .dc-chart .top_left {
    position: absolute;
    top: 30px;
    left: 0; }
    .dc-chart .top_left strong {
      font-size: 15px; }
  .dc-chart .x-label {
    position: absolute;
    left: 0;
    bottom: 26px;
    width: 400px;
    text-align: center;
    font-weight: bold;
    font-size: 14px; }
  .dc-chart .x-label:first-letter {
    text-transform: capitalize; }
  .dc-chart .y-label {
    position: absolute;
    left: -190px;
    bottom: 205px;
    text-align: center;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 14px;
    font-weight: bold; }
  .dc-chart .y-label:first-letter {
    text-transform: capitalize; }
  .dc-chart rect.bar {
    stroke: none;
    cursor: pointer; }
    .dc-chart rect.bar:hover {
      fill-opacity: .5; }
  .dc-chart rect.deselected {
    stroke: none;
    fill: #ccc; }
  .dc-chart .pie-slice {
    fill: #fff;
    font-size: 12px;
    cursor: pointer; }
    .dc-chart .pie-slice.external {
      fill: #000; }
    .dc-chart .pie-slice :hover, .dc-chart .pie-slice.highlight {
      fill-opacity: .8; }
  .dc-chart .pie-path {
    fill: none;
    stroke-width: 2px;
    stroke: #000;
    opacity: 0.4; }
  .dc-chart .selected path, .dc-chart .selected circle {
    stroke-width: 3;
    stroke: #ccc;
    fill-opacity: 1; }
  .dc-chart .deselected path, .dc-chart .deselected circle {
    stroke: none;
    fill-opacity: .5;
    fill: #ccc; }
  .dc-chart .axis path, .dc-chart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges; }
  .dc-chart .axis text {
    font: 10px sans-serif; }
  .dc-chart .grid-line, .dc-chart .axis .grid-line, .dc-chart .grid-line line, .dc-chart .axis .grid-line line {
    fill: none;
    stroke: #ccc;
    opacity: .5;
    shape-rendering: crispEdges; }
  .dc-chart .brush rect.selection {
    fill: #4682b4;
    fill-opacity: .125; }
  .dc-chart .brush .custom-brush-handle {
    fill: #eee;
    stroke: #666;
    cursor: ew-resize; }
  .dc-chart path.line {
    fill: none;
    stroke-width: 1.5px; }
  .dc-chart path.area {
    fill-opacity: .3;
    stroke: none; }
  .dc-chart path.highlight {
    stroke-width: 3;
    fill-opacity: 1;
    stroke-opacity: 1; }
  .dc-chart g.state {
    cursor: pointer; }
    .dc-chart g.state :hover {
      fill-opacity: .8; }
    .dc-chart g.state path {
      stroke: #fff; }
  .dc-chart g.deselected path {
    fill: #808080; }
  .dc-chart g.deselected text {
    display: none; }
  .dc-chart g.row rect {
    fill-opacity: 0.8;
    cursor: pointer; }
    .dc-chart g.row rect:hover {
      fill-opacity: 0.6; }
  .dc-chart g.row text {
    fill: #fff;
    font-size: 12px;
    cursor: pointer; }
  .dc-chart g.dc-tooltip path {
    fill: none;
    stroke: #808080;
    stroke-opacity: .8; }
  .dc-chart g.county path {
    stroke: #fff;
    fill: none; }
  .dc-chart g.debug rect {
    fill: #00f;
    fill-opacity: .2; }
  .dc-chart g.axis text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none; }
  .dc-chart .node {
    font-size: 0.7em;
    cursor: pointer; }
    .dc-chart .node :hover {
      fill-opacity: .8; }
  .dc-chart .bubble {
    stroke: none;
    fill-opacity: 0.6; }
  .dc-chart .highlight {
    fill-opacity: 1;
    stroke-opacity: 1; }
  .dc-chart .fadeout {
    fill-opacity: 0.2;
    stroke-opacity: 0.2; }
  .dc-chart .box text {
    font: 10px sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none; }
  .dc-chart .box line {
    fill: #fff; }
  .dc-chart .box rect, .dc-chart .box line, .dc-chart .box circle {
    stroke: #000;
    stroke-width: 1.5px; }
  .dc-chart .box .center {
    stroke-dasharray: 3, 3; }
  .dc-chart .box .data {
    stroke: none;
    stroke-width: 0px; }
  .dc-chart .box .outlier {
    fill: none;
    stroke: #ccc; }
  .dc-chart .box .outlierBold {
    fill: red;
    stroke: none; }
  .dc-chart .box.deselected {
    opacity: 0.5; }
    .dc-chart .box.deselected .box {
      fill: #ccc; }
  .dc-chart .symbol {
    stroke: none; }
  .dc-chart .heatmap .box-group.deselected rect {
    stroke: none;
    fill-opacity: 0.5;
    fill: #ccc; }
  .dc-chart .heatmap g.axis text {
    pointer-events: all;
    cursor: pointer; }
  .dc-chart .empty-chart .pie-slice {
    cursor: default; }
    .dc-chart .empty-chart .pie-slice path {
      fill: #fee;
      cursor: default; }
  .dc-chart circle.dot {
    stroke: none; }

div div.dc-data-count {
  float: left;
  padding: 0 0 0 0;
  margin-top: 58px;
  margin-right: 15px; }
  div div.dc-data-count .filter-count, div div.dc-data-count .total-count {
    color: #3182bd;
    font-weight: bold; }

.container {
  /* make room for rotated labels. */
  /* Need to be able to see long labels without them overlapping each other. */ }
  .container div.launch_button {
    padding: 7px;
    width: 20px; }
    .container div.launch_button div {
      background-image: url(../img/refresh.png);
      background-size: 100% 100%;
      width: 17px;
      height: 17px; }
  .container .reset_all {
    color: #0c7cd5;
    text-decoration: underline;
    cursor: pointer; }
  .container .contain_show_more {
    text-align: center;
    padding: 0 0 15px 0; }
  .container svg[height="370"] {
    height: 450px; }
  .container .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg) translate(-7px, -5px) scaleX(1.23) scaleY(1.23); }
  .container .y.axis text {
    transform: scaleX(1.2) scaleY(1.2); }
  .container .help_body, .container .user_pref_body {
    background-color: #f2f2f2;
    border: 1px solid #cccccc;
    padding: 22px 0 22px 22px;
    font-size: 13px;
    margin: 4px 0 4px -20px; }
  .container .user_pref_body .prow {
    display: inline-block;
    width: 270px;
    margin: 6px 0 6px 0; }
    .container .user_pref_body .prow .title {
      position: relative;
      top: 4px;
      left: 4px; }
    .container .user_pref_body .prow input {
      zoom: 1.5; }
  .container a {
    cursor: pointer; }
  .container div.multi_jupyter {
    right: auto;
    left: 1255px; }
  .container .icon {
    padding: 8px 7px 8px 8px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1000; }
    .container .icon .inner {
      width: 20px;
      height: 20px;
      -webkit-filter: invert(100%);
      /* Safari/Chrome */
      filter: invert(100%); }
  .container .help_icon div {
    background-image: url(../img/info.png);
    background-size: 100% 100%; }
  .container .plus_icon {
    right: 95px; }
    .container .plus_icon div {
      background-image: url(../img/plus.png);
      background-size: 100% 100%; }
  .container .user_pref_icon {
    right: 50px; }
    .container .user_pref_icon div {
      background-image: url(../img/check.png);
      background-size: 100% 100%; }

.curtain {
  width: 100%;
  height: 100%;
  background-color: #cccccc;
  opacity: 0.65;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1500; }

.modal {
  margin: auto auto;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  border: 1px solid #000000;
  -webkit-box-shadow: 3px 3px 3px #333333;
  z-index: 1501; }

.modal .body {
  padding: 30px;
  min-width: 280px;
  min-height: 180px;
  font-size: 15px; }

.modal .close {
  position: absolute;
  top: 7px;
  right: 7px;
  opacity: 1; }

.modal .close.black_button .inner_button {
  padding: 4px 4px 4px 7px;
  width: 16px;
  color: white;
  font-size: 22px; }

.outer_modal {
  width: 100%;
  height: 100%;
  text-align: left; }

.modal .button_bottom {
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 345px;
  font-family: tahoma; }

.header {
  border-bottom: 1px solid #333;
  background: #444 url(../img/ui-bg_highlight-soft_44_444444_1x100.png) 50% 50% repeat-x;
  color: #fff;
  font-weight: bold;
  padding: 11px;
  font-family: Tahoma;
  font-size: 15px;
  letter-spacing: 1pt;
  -webkit-text-shadow: -1px -1px 0 #000000;
  -moz-text-shadow: -1px -1px 0 #000000;
  text-shadow: -1px -1px 0 #000000;
  position: relative; }

.header .plus_sign {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 7px;
  right: 7px;
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
  background: url(../img/edit_pencil.png);
  background-size: 100% 100%;
  cursor: pointer; }

.header .plus_sign {
  background: url(../img/plus.png);
  background-size: 100% 100%;
  right: 8px; }

.spinner_loader {
  display: none;
  position: fixed;
  top: 45%;
  left: 50%;
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #bbbbbb;
  background: -moz-linear-gradient(left, #bbbbbb 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #bbbbbb 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #bbbbbb 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #bbbbbb 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #bbbbbb 10%, rgba(255, 255, 255, 0) 42%);
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.spinner_loader:before {
  width: 50%;
  height: 50%;
  background: transparent;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: ''; }

/* inner circle color */
.spinner_loader:after {
  background: white;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*# sourceMappingURL=Whole.css.map */
