.CheckboxWindowManager {
	position: fixed;
	top: 20px;
	right: 0;
	padding: 0;
	background-color: white;
	border: 1px solid #888888;
	z-index: 100;
	-webkit-box-shadow: -2px 2px 3px #333333;
	display: none;
}

.CheckboxWindowManager .txt {
	display: inline-block;
}

.CheckboxWindowManager .check_line {
	padding: 12px 15px 12px 15px;
	border-bottom: 1px solid #aaaaaa;
}

.CheckboxWindowManager .check_line:nth-child(even) {
	background-color: #f2f2f2;
}

.checkbox_open_close {
	position:fixed;
	top: 0;
	right: 0;
	border: 1px solid #888888;
	background-color: #dddddd;
	padding: 2px 7px 2px 7px;
	cursor: pointer;
	z-index: 101;
	color: #888888;
}

div.zoom_button {
	position: absolute;
	right: 30px;
	padding: 3px;
	width: 14px;
	top: 1px;
}

.zoom_button div.inner_button {
	width: 12px;
	padding: 4px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.zoom_button.plus {
}

.zoom_button.minus {
	right: 58px;
}