*[data-v-871017] {
  box-sizing: border-box;
  margin: 0px;
}div[data-v-301527] {
  box-sizing: border-box;
}
.node-width[data-v-301527] {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  min-width: 0;
}
.node[data-v-301527] {
  height: 35px;
  border-radius: 10px;
  overflow: hidden;
  padding-top: 5px;
  padding-left: 3px;
  min-width: 0px;
}
.children[data-v-301527] {
  display: flex;
}
