<table>
    <tr class="pick_chart_type">
        <td>
            Plot Type
        </td>

        <td>
            <select class="pick_chart_type_sel">
                <option>Multi</option>
                <option>Scatter</option>
            </select>

        </td>
    </tr>

    <tr class="axis_row">
        <td>
            X-axis
        </td>
        <td class="xaxis">
        </td>
    </tr>

    <tr class="axis_row">
        <td>
            Y-axis
        </td>
        <td class="yaxis">
        </td>
    </tr>

    <tr>
        <td>
            Chart Name
        </td>
        <td>
            <input type="text" class="chart_name"/>
        </td>
    </tr>

</table>

<div class="multi_row_selector"></div>

<div class="center">
    <div class="icon myButton submit">
        <div class="inner">SUBMIT</div>
    </div>

    <div class="icon myButton delete">
        <div class="inner">DELETE</div>
    </div>
</div>