Plot Type:
<table>
    <tr>
        <td>
            <select class="pick_chart_type">
                <option>Scatter</option>
            </select>
        </td>

        <td></td>
    </tr>

    <tr>
        <td>
            X-axis
        </td>
        <td class="xaxis">
        </td>
    </tr>

    <tr>
        <td>
            Y-axis
        </td>
        <td class="yaxis">
        </td>
    </tr>

    <tr>
        <td>
            Chart Name
        </td>
        <td>
            <input type="text"/>
        </td>
    </tr>

</table>

<div class="center">
    <div class="icon myButton submit">
        <div class="inner">SUBMIT</div>
    </div>
</div>